<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
  <title>#<%= name %>#</title>
  <link href="/stylesheets/imageActivity.css" rel="stylesheet">
  <script type="text/javascript" src="/javascripts/common/sendMassage.js"></script>
</head>
<body>
  <div class="image_container">
    <img src="<%= bigPicture %>" alt="" class="activity_image">
    <% if (!finish) { %>
    <div class="activity_detail_container">
      <button class="activity_detail_button" onclick="activityDetail()">点击查看活动内容</button>
    </div>
    <% } %>
  </div>
  <div class="join_container">
    <p class="activity_name">#本期活动#<%= name %></p>
    <% var text = finish ? '立即查看': '立即参与' %>
    <button class="join_button" onclick="clickBottomButton()"><%= text %></button>
  </div>
  <script type="text/javascript">
    window.activity = {}
    activity.name = '<%= name %>'
    activity.tpid = '<%= tpid %>'
    activity.picture = '<%= picture %>'
    activity.finish = <%= finish %>
    function clickBottomButton() {
      if (activity.finish) {
        if (activity.tpid != 0) {
           activityDetail()
        }
      } else {
        joinActivity()
      }
    }
    function activityDetail() {
      var  data = {
        imageUrl: activity.picture,
        topic: activity.name,
        tpid: activity.tpid
      }
      showActivityDetail(JSON.stringify(data))
    }
  </script>
</body>
</html>
