<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
  <title><%= name %></title>
  <link href="/stylesheets/imageActivity.css" rel="stylesheet">
  <script type="text/javascript" src="/javascripts/common/sendMassage.js"></script>
</head>
<body>
  <div class="image_container">
    <img src="<%= bigPicture %>" alt="" class="activity_image">
  </div>
  <div class="join_container">
    <p class="activity_name">#本期活动#<%= name %></p>
    <button class="join_button" onclick="joinActivity()">立即参与</button>
  </div>
  <script type="text/javascript">
    window.activity = {}
    activity.name = '<%= name %>'
    activity.tpid = '<%= tpid %>'
    activity.picture = '<%= picture %>'
  </script>
</body>
</html>
