<!DOCTYPE html>  
<html>  
<head>  
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
<% var shareText = '我分享了一条' + contentInfo.profile.name + '的人言，快来帮TA传播一下~' %>
<title><%= shareText %></title>  
  <link href="/stylesheets/content.css" rel="stylesheet">
  <script type="text/javascript" src='/javascripts/common/sendMassage.js'></script>
</head>  

<body>  
  <div style="margin: 0;display: none">
    <img src="http://7xpecj.com1.z0.glb.clouddn.com/2/renyan_logo.png" alt="logo"/>
  </div>
  <div class="renyan_container">
      <div class="content_container">
    <% if (contentInfo.card.isNewType) { %>
      <div class="content_card">
      <% contentInfo.card.cardContents.forEach(function(cardContent) { %>
      <% console.log(cardContent) %>
        <% if (cardContent.type == 1) { %>
          <p class="long_content_text">
            <%- cardContent.content %>
          </p>
        <% } else if (cardContent.type == 2) {%>
        <img src="<%- cardContent.pictureCut %>" alt="" class="long_content_image" id="long_content_image">
        <% } else { %>
          <video class="long_content_video" autoplay>
            <source src="<%- cardContent.content %>" type="video/mp4"></video>
        <% } %>
      <% }) %>
      </div>
    <% } else { %>
      <% var templates = ['text_template', 'picture_template', 'flat_template', 'tall_template', 'rect_template', 'circle_template'] %>
      <% var template = templates[contentInfo.card.template - 1] %>
        <div class="content_card <%= template %>">
          <div class="main_container">
            <div class="rect_image_container" id="content_image" style="background-image: url('<%= contentInfo.card.pictureCut %>')">
            </div>
            <p class="content_text">
              <%- contentInfo.card.text %>
            </p>
            <div class="album_name_container">
              <p class="album_name">「 <%= contentInfo.card.albumName %> 」</p>
            </div>
          </div>
        </div>
    <% } %>
      </div>
    <div class="notice_download">
      <p>下载人言App，浏览更多内容</p>
      <div class="line"></div>
    </div>
    <div class="user_info_block">
      <div class="user_info_container">
        <img class="user_avatar" src="<%= contentInfo.profile.smallPicture %>" alt="">
          <p class="profle_name"><%= contentInfo.profile.name %></p>
          <div class="user_data">
            <p>浏览数: <%= contentInfo.profile.view %></p>
            <p>关注数: <%= contentInfo.profile.subscribe %></p>
          </div>
      </div>
    </div>
    <div class="album_list">
      <div class="line"></div>
      <p>TA的言集</p>
      <% for( var index in contentInfo.albums ) {%> <% var album = contentInfo.albums[index] %><div class="album_content">
          <a href="<%= album.url %>" >
            <div class="album_cover_container" style="background-image: url('<%= album.cover %>')"></div>
          </a>
          <div class="mask"></div>
          <p>「 <%= album.name %> 」</p>
        </div><% } %>
    </div>
    <div class="download_banner">
      <div class="info_block">
        <img src="/images/logo.png" alt="" class="logo">
        <div class="text_container">
          <p class="title">人言</p>
          <p>赶紧试一下你的人言能传多远</p>
        </div>
      </div>
      <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.zixintech.renyan">
        <img src="http://7xpecj.com1.z0.glb.clouddn.com/open_rightnow.png" alt="" class="download_button">
      </a>
    </div>
  </div>
  <script type="text/javascript">
    configureShare({
      text: '<%- share.text %>',
      image: '<%- share.image %>',
      link: '<%- share.link %>',
    })
  </script>
  <script type="text/javascript" src="/javascripts/common/template.js"></script>
</body>  
</html>


