<!DOCTYPE html>  
<html>  
<head>  
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
<% var shareText = '我分享了一条' + contentInfo.profile.name + '的人言，快来帮TA传播一下~' %>
<title><%= shareText %></title>  
  <link href="/stylesheets/content.css" rel="stylesheet">
  <script type="text/javascript" src='/javascripts/common/sendMassage.js'></script>
</head>  

<body>  
  <div style="margin: 0;display: none">
    <img src="http://7xpecj.com1.z0.glb.clouddn.com/2/renyan_logo.png" alt="logo"/>
  </div>
  <div class="renyan_container">
      <div class="content_container">
    <% if (contentInfo.card.isNewType) { %>
      <%- include('./common/longContent', {card: contentInfo.card}); %>
    <% } else { %>
      <%- include('./common/templateCard', {card: contentInfo.card}); %>
    <% } %>
      </div>
    <div class="notice_download">
      <p>下载人言App，浏览更多内容</p>
      <div class="line"></div>
    </div>
    <%- include('./common/userInfo', {profile: contentInfo.profile}); %>
    <%- include('./common/albumList', {albums: contentInfo.albums}); %>
    <%- include('./common/downloadBanner', {info: {title: '人言', desc: '赶紧试一下你的人言能传多远'}, link:'http://a.app.qq.com/o/simple.jsp?pkgname=com.zixintech.renyan', icon: 'http://7xpecj.com1.z0.glb.clouddn.com/open_rightnow.png'}); %>
  </div>
  <script type="text/javascript">
    configureShare({
      text: '<%- share.text %>',
      image: '<%- share.image %>',
      link: '<%- share.link %>',
    })
  </script>
  <script type="text/javascript" src="/javascripts/common/template.js"></script>
</body>  
</html>


