<!DOCTYPE html>  
<html>  
<head>  
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
<title><%= contentInfo.profile.name %>的传播分享</title>  
  <link href="/stylesheets/map.css" rel="stylesheet">
  <style type="text/css">
    #hot_text {
      margin-left: 10px;
      color: rgba(230, <%= parseInt(64 + (168 - 64) * (contentInfo.ratio / 100))%>, 130, 1)
    }
  <% if (!share) { %>
    .renyan_container {
      margin-top: 0px;
    }
  <% } %>
  </style>
  <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=5658086d6c430da1b17d0452dc1952c6"></script>
  <script type="text/javascript" src='/javascripts/map/ajax.js'></script>
</head>  

<body>  
 
  <div id="map_container"></div> 
  <div class="renyan_container">
    <% if (share)  { %>
    <div class='title_block'>
      <div class="spread_text_container">
        <p class="spread_text">好友传播数 <%= contentInfo.friendPushCount %> </p>
      </div>
      <div id="spread_button" class="spread_img_container">
        <img src="http://7u2min.com1.z0.glb.clouddn.com/new_spread_button_icon.png" alt="">
      </div>
      <div class="spread_text_container">
        <p class="spread_text">增加浏览数 <%= contentInfo.viewPrePush %></p>
      </div>
    </div>
    <% } %>
    <div class="data_container">
      <div id="view_container">
        <div class="text_container">
          <p class="number"><%= contentInfo.card.view %></p>
            <p class="description">位用户浏览我的内容</p>
        </div>
        <div class="line"></div>
      </div>
      <div id="spread_rate">
        <div class="container">
          <img src="http://7xpecj.com1.z0.glb.clouddn.com/assets/1607141730/heat_combine<%= contentInfo.ratio %>.png" alt="">
          <div class="hot_level">
            <p>传播热度: </p>
            <p id="hot_text">一般热</p>
          </div>
        </div>
       <div class="line"></div>
      </div>
      <div id="spread_distance">
        <div class="text_container">
          <p class="description">已传播</p>
          <p class="number"><%= contentInfo.distance %>km</p>
        </div>
        <div class="line"></div>
      </div>
    </div>

    <% if ( share ) { %>
    <div class="content_container">
      <div class="content_card">
        <div class="main_container">
          <div class="rect_image_container">
            <img src="<%= contentInfo.card.pictureCut %>" alt="">
          </div>
          <p class="content_text">
            <%= contentInfo.card.text %>
          </p>
          <div class="album_name_container">
            <p class="album_name">「 <%= contentInfo.card.albumName %> 」</p>
          </div>
        </div>
      </div>
    </div>
    <div class="notice_download">
      <p>下载人言App，浏览更多内容</p>
      <div class="line"></div>
    </div>
    <div class="user_info_block">
      <div class="user_info_container">
        <img class="user_avatar" src="<%= contentInfo.profile.coverPicture %>" alt="">
          <p><%= contentInfo.profile.name %></p>
          <div class="user_data">
            <p>浏览数: <%= contentInfo.profile.view %></p>
            <p>关注数: <%= contentInfo.profile.subscribe %></p>
          </div>
      </div>
    </div>
    <div class="album_list">
      <div class="line"></div>
      <p>TA的言集</p>
      <% for( var index in contentInfo.albums ) {%> <% var album = contentInfo.albums[index] %><div class="album_content">
            <div class="album_cover_container">
            <img src="<%= album.cover %>" alt="">
            </div>
          <a href="<%= album.url %>" >
            <div class="mask"></div>
          </a>
          <p>「 <%= album.name %> 」</p>
        </div><% } %>
    </div>
    <div class="download_banner">
      <img src="/images/logo.png" alt="" class="logo">
      <div class="text_container">
        <p class="title">人言</p>
        <p>小人物大声音 平凡中不平凡</p>
      </div>
      <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.zixintech.renyan">
        <img src="http://7xpecj.com1.z0.glb.clouddn.com/open_rightnow.png" alt="" class="download_button">
      </a>
    </div>
  </div>
  <% } %>
  <script type="text/javascript">
    if (!localStorage.renyanContentShare) localStorage.renyanContentShare = JSON.stringify({})
    var renyanContentShare = JSON.parse(localStorage.renyanContentShare)
    var pointString = '<%- JSON.stringify(contentInfo.position) %>'
    var point = JSON.parse(pointString)
    window.point = point
    var spread = document.getElementById('spread_button')
    if (spread) {
      spread.addEventListener('touchend', function() {
      if (!renyanContentShare['<%= cid %>']) {
        Ajax('http://testry.renyan.cn/rest/share/spread/<%= cid %>').post({a: 1}).done(function(result) {
          if (result == 'success') {
            renyanContentShare['<%= cid %>'] = true;
            localStorage.renyanContentShare = JSON.stringify(renyanContentShare)
          }
        })
      } else {
        console.log('has sended')
      }

    })
  }
  </script>
  <script type="text/javascript" src="/javascripts/map/dist/dist.js"></script>
</body>  
</html>
