<!DOCTYPE html>  
<html>  
<head>  
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
<title><%= contentInfo.profile.name %></title>  
  <link href="/stylesheets/map.css" rel="stylesheet">
  <style type="text/css">
    #hot_text {
      margin-left: 10px;
      color: rgba(230, <%= parseInt(64 + (168 - 64) * (contentInfo.ratio / 100))%>, 130, 1)
    }
  <% if (!share) { %>
    .renyan_container {
      margin-top: 0px;
    }
  <% } %>
  </style>
  <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=5658086d6c430da1b17d0452dc1952c6"></script>
  <script type="text/javascript" src='/javascripts/map/ajax.js'></script>
  <script type="text/javascript" src='/javascripts/map/dist/sendMassage.js'></script>
</head>  

<body>  
 
  <div id="map_container"></div> 
  <div class="renyan_container">
    <% if (share)  { %>
    <div class='title_block'>
      <div class="spread_text_container">
        <p class="spread_text">好友传播数 <%= contentInfo.friendPushCount %> </p>
      </div>
      <div id="spread_button" class="spread_img_container">
        <img id="spread_button_image" src="http://7xpecj.com1.z0.glb.clouddn.com/spread_button_icon.png" alt="">
      </div>
      <div class="spread_text_container">
        <p id="spread_text" class="spread_text">增加浏览数 <%= contentInfo.viewPrePush * contentInfo.friendPushCount  %></p>
      </div>
    </div>
    <% } %>
    <div class="data_container">
      <div id="view_container">
        <div class="text_container">
          <p class="number"><%= contentInfo.card.view %></p>
            <p class="description">位用户浏览他的内容</p>
        </div>
        <div class="line"></div>
      </div>
      <div id="spread_rate">
        <div class="container">
          <img id="hot_level_icon" src="http://7xpecj.com1.z0.glb.clouddn.com/assets/1607141730/heat_combine<%= contentInfo.ratio %>.png" alt="">
          <div class="hot_level">
            <p>传播热度: </p>
            <p id="hot_text"><%= contentInfo.hotText %></p>
          </div>
        </div>
       <div class="line"></div>
      </div>
      <div id="spread_distance">
        <div class="text_container">
          <p class="description">已传播</p>
          <p class="number"><%= contentInfo.distance %>km</p>
        </div>
        <div class="line"></div>
      </div>
    </div>
    <% if (!share) { %>
      <button class="share_button">分享让好友帮助传播</button>
    <% } %>
    <% if ( share ) { %>
    <% var templates = ['text_template', 'picture_template', 'flat_template', 'tall_template', 'rect_template', 'circle_template'] %>
    <% var template = templates[contentInfo.card.template - 1] %>
    <div class="content_container">
      <div class="content_card <%= template %>">
        <div class="main_container">
          <div class="rect_image_container" id="content_image" style="background-image: url('<%= contentInfo.card.pictureCut %>')">
          </div>
          <p class="content_text">
            <%= contentInfo.card.text %>
          </p>
          <div class="album_name_container">
            <p class="album_name">「 <%= contentInfo.card.albumName %> 」</p>
          </div>
        </div>
      </div>
    </div>
    <div class="notice_download">
      <p>下载人言App，浏览更多内容</p>
      <div class="line"></div>
    </div>
    <div class="user_info_block">
      <div class="user_info_container">
        <img class="user_avatar" src="<%= contentInfo.profile.smallPicture %>" alt="">
          <p><%= contentInfo.profile.name %></p>
          <div class="user_data">
            <p>浏览数: <%= contentInfo.profile.view %></p>
            <p>关注数: <%= contentInfo.profile.subscribe %></p>
          </div>
      </div>
    </div>
    <div class="album_list">
      <div class="line"></div>
      <p>TA的言集</p>
      <% for( var index in contentInfo.albums ) {%> <% var album = contentInfo.albums[index] %><div class="album_content">
          <a href="<%= album.url %>" >
            <div class="album_cover_container">
              <img src="<%= album.cover %>" alt="">
            </div>
          </a>
          <div class="mask"></div>
          <p>「 <%= album.name %> 」</p>
        </div><% } %>
    </div>
    <div class="download_banner">
      <img src="/images/logo.png" alt="" class="logo">
      <div class="text_container">
        <p class="title">人言</p>
        <p>小人物大声音 平凡中不平凡</p>
      </div>
      <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.zixintech.renyan">
        <img src="http://7xpecj.com1.z0.glb.clouddn.com/open_rightnow.png" alt="" class="download_button">
      </a>
    </div>
  </div>
  <% } %>
  <script type="text/javascript">
    configureShare({
      text: '<%= contentInfo.profile.name %> 分享了一条<%= contentInfo.hotText %>的人言，快来帮他传播一下~',
      image: "<%- contentInfo.card.pictureCut %>"
    })
    window.spreadParams = {}
    spreadParams.viewed = parseInt(<%= contentInfo.viewPrePush * contentInfo.friendPushCount  %>)
    spreadParams.added = parseInt(<%= contentInfo.viewPrePush %>)
    if (!localStorage.renyanContentShare) localStorage.renyanContentShare = JSON.stringify({})
    var spreadImage = document.getElementById('spread_button_image') || {}
    var renyanContentShare = JSON.parse(localStorage.renyanContentShare)
    if (!renyanContentShare['<%= cid %>']) {
      spreadImage.src = 'http://7xpecj.com1.z0.glb.clouddn.com/spread_button_icon.png'
    } else {
      spreadImage.src = 'http://7xpecj.com1.z0.glb.clouddn.com/spreaded_button_icon.png'
    }
    var pointString = '<%- JSON.stringify(contentInfo.position) %>'
    var point = JSON.parse(pointString)
    window.point = point
    var spread = document.getElementById('spread_button')
    var spreadText = document.getElementById('spread_text')
    if (spread) {
      spread.addEventListener('touchend', function() {
      if (!renyanContentShare['<%= cid %>']) {
        Ajax('http://app.ry.api.renyan.cn/rest/share/spread/<%= cid %>').post({a: 1}).done(function(result) {
          if (result == 'success') {
            renyanContentShare['<%= cid %>'] = true;
            localStorage.renyanContentShare = JSON.stringify(renyanContentShare)
            setSpeadCount(spreadParams.viewed, spreadParams.added)
            spreadImage.src = 'http://7xpecj.com1.z0.glb.clouddn.com/spreaded_button_icon.png'
          }
        })
      } else {
        console.log('has sended')
      }
    })
  }
  function setSpeadCount(viewed, added) {
    var text = document.getElementById('spread_text')
    if (text) {
      text.textContent = '增加浏览数 ' + (viewed + added)
    }
  }
  </script>
  <script type="text/javascript" src="/javascripts/map/dist/dist.js"></script>
  <script type="text/javascript" src="/javascripts/map/dist/template.js"></script>
</body>  
</html>
