<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
  <title><%= title %></title>
  <link href="/stylesheets/drawingboard/index.css" rel="stylesheet">
  <script src="/javascripts/common/sendMassage.js" type="text/javascript"></script>
  <script src="/javascripts/common/ryToast.js" type="text/javascript"></script>
</head>
<body>
  <%- include('../common/toast', {confirm: true, cancel: true, id:'alert_delete_message'}); %>
  <%- include('../common/toast', {confirm: true, cancel: true, text: true, id:'alert_upload'}); %>
  <div class="container">
    <div class="drawingboard_container">
      <canvas id="drawingboard" width="400px" height="400px"></canvas>
    </div>
    <div class="controls">
      <button id="goback_button" class="control_button" onclick="goback()">撤销</button>
      <div class="tools_container">
        <div class="tool">
           <div class="pencil" id="pencil">
            <p>画笔</p>
           </div>
           <div class="eraser" id="eraser">
             <p>橡皮</p>
           </div>
        </div>
        <div class="size">
         <div class="size_item" id="small_size">
          <div class="size_icon"></div>
         </div>
         <div class="size_item" id="middle_size">
          <div class="size_icon"></div>
         </div>
         <div class="size_item" id="large_size">
          <div class="size_icon"></div>
         </div>
        </div>
      </div>
      <button class="control_button" id="clear_button" onclick="clearArtboard()">清除</button>
      <div class="control_button" id="upload_button" onclick="clickUpload()"> 
        <img class="upload_button_icon" src="/images/upload_button_icon.png" alt="">
        <p>我画好了</p>
      </div>
    </div>
  </div>
  <script src="/javascripts/dist/drawingboard.js" type="text/javascript"></script>
  <script type="text/javascript">
    configureShare({
      text: '<%- share.text %>',
      image: '<%- share.image %>',
      link: '<%- share.link %>',
      shareType: 4
    })
    if (!canRyShare()) {
      document.title = '<%- share.text %>'
    }
</script>
<% if (env == 'production') {  %>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?05d2e87945786502ca1a962c610a43c0";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<% } else { %>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?03cf39b7bf360a57d4ef9a0f2babd76a";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<% } %>
</body>
</html>
