<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
  <title><%= title %></title>
  <link href="/stylesheets/drawingboard/works.css" rel="stylesheet">
  <script src="/javascripts/common/sendMassage.js" type="text/javascript"></script>
</head>
<body>
  <div class="container">
    <% for (var index in works) { %>
    <% var work = works[index] %>
    <div onclick="clickItem(this)" class="item_container" index="<%= index %>" >
      <img src="<%= work.image %>" class="work_image"alt="">
      <p><%= work.name ? work.name : '不认识' %></p>
      <div class="likes_container">
         <img src="http://7xpecj.com1.z0.glb.clouddn.com/drawingboard_like.png" alt="">
         <p><%= work.like %></p>
      </div>
    </div>
    <% } %>
  </div>
  <div id="bottom_container" class="bottom_container container_in_app">
    <button onclick='share()' id="bottom_share_button" class="bottom_button in_app">我要分享</button>
    <button onclick='makeNew()' id="bottom_makenew_button" class="bottom_button in_app">继续创作</button>
  </div>
  <script src="/javascripts/common/sendMassage.js" type="text/javascript"></script>
  <script type="text/javascript">
  var dataString = '<%- JSON.stringify(works) %>'
  window.data = JSON.parse(dataString)
  function makeNew () {
    window.location.href = '/drawingboard/index'
  }
  function watchOthers() {
    window.location.href = '/drawingboard/works'
  }
  function clickItem(current) {
    var index = current.getAttribute("index")
    if (index < data.length) {
      var work = data[index]
      window.location.href = '/drawingboard/work/' + work.param
    }
  }
  configureShare({
    text: '快来参与人言的画猫游戏',
    image: 'http://7xpecj.com1.z0.glb.clouddn.com/2/renyan_logo.png'
  })

  if (!canRyShare()) {
    var makeNewButton = document.getElementById('bottom_makenew_button')
    var shareButton = document.getElementById('bottom_share_button')
    var bottomContainer = document.getElementById('bottom_container')
    shareButton.style.display = 'none'
    makeNewButton.className = 'bottom_button out_app'
    bottomContainer.className = 'bottom_container container_out_app'
  }
  </script>
</body>
</html>

