<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
  <title>快来围观一只叫做 <%= work.name %> 的猫</title>
  <link href="/stylesheets/drawingboard/work.css" rel="stylesheet">
  <script src="/javascripts/common/sendMassage.js" type="text/javascript"></script>
  <script type="text/javascript" src="/javascripts/common/ajax.js"></script>
</head>
<body>
  <div class="container">
    <p class="text">赶快分享给大家看</p>
    <img class="work_image" src="<%= work.image %>" alt="">
    <p class="text"><%= me ? '我' : '这个人' %> 画出了一只叫做 <%= work.name %> 的猫！快分享给大家，让大家快来围观啊！</p>
    <% if (!me) { %>
    <div class="like_container">
      <img src="http://7xpecj.com1.z0.glb.clouddn.com/2/like.png" alt="" class="like_icon">
      <p class="like_count"><%- work.like %></p>
    </div>
    <div class="button_container">
      <button onclick="makeNew()" class="join_game">我也要画</button>
      <button onclick="like()" class="like_button">帮Ta点赞</button>
    </div>
    <% } %>
  </div>
  <% if (me) { %>
    <div id="bottom_container" class="bottom_container container_in_app">
      <button onclick='share()' id="bottom_share_button" class="bottom_button in_app">我要分享</button>
      <button onclick='makeNew()' id="bottom_makenew_button" class="bottom_button in_app">开始创作</button>
    </div>
    <% } else { %>
    <div class="bottom_container container_in_app">
      <button onclick="watchOthers()" class="bottom_button in_app">围观作品</button>
      <button onclick="showReadMe()" class="bottom_button in_app">活动详情</button>
    </div>
    <% } %>
  <script src="/javascripts/common/sendMassage.js" type="text/javascript"></script>
  <script type="text/javascript">
  localStorage.renyanLikes = localStorage.renyanLikes || JSON.stringify([])
  var dataString = '<%- JSON.stringify(work) %>'
  window.work = JSON.parse(dataString)
  function makeNew () {
    window.location.href = '/drawingboard/index/app'
  }
  function watchOthers() {
    window.location.href = '/drawingboard/works'
  }
  function showReadMe() {
    window.location.href = '/drawingboard/readme'
  }
  configureShare({
    text: '<%- share.text %>',
    image: '<%- share.image %>',
    link: '<%- share.link %>',
    shareType: 4
  })
  <% if (!me) { %>
  function checkLikes() {
    var likes = JSON.parse(localStorage.renyanLikes)
    var index = likes.indexOf(work.param)
    var icon = document.getElementsByClassName('like_icon')[0]
    if (index >= 0 && index < likes.length) {
      icon.src = "http://7xpecj.com1.z0.glb.clouddn.com/2/like_highlight.png"
    } else {
      icon.src = "http://7xpecj.com1.z0.glb.clouddn.com/2/like.png"
    }
  } 
  checkLikes()
  function like() {
    var likes = JSON.parse(localStorage.renyanLikes)
    var index = likes.indexOf(work.param)
    if (index >= 0 && index < likes.length) {
      return
    }
    Ajax('/drawingboard/like/' + work.param).get().done(function(result) {
      result = JSON.parse(result)
      if (result == 'success') {
        var icon = document.getElementsByClassName('like_icon')[0]
        var text = document.getElementsByClassName('like_count')[0]
        icon.src = "http://7xpecj.com1.z0.glb.clouddn.com/2/like_highlight.png"
        text.textContent ++
        likes.push(work.param)
        localStorage.renyanLikes = JSON.stringify(likes)
      } else if (result == 'liked') {
        var icon = document.getElementsByClassName('like_icon')[0]
        icon.src = "http://7xpecj.com1.z0.glb.clouddn.com/2/like_highlight.png"
        likes.push(work.param)
        localStorage.renyanLikes = JSON.stringify(likes)
      }
    })
  }
  <% } %>
  <% if (me) { %>
  if (!canRyShare()) {
    var makeNewButton = document.getElementById('bottom_makenew_button')
    var shareButton = document.getElementById('bottom_share_button')
    var bottomContainer = document.getElementById('bottom_container')
    shareButton.style.display = 'none'
    makeNewButton.className = 'bottom_button out_app'
    bottomContainer.className = 'bottom_container container_out_app'
  }
  <% } %>
  </script>
  <% if (env == 'production') {  %>
  <script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?05d2e87945786502ca1a962c610a43c0";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  </script>
  <% } else { %>
  <script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?03cf39b7bf360a57d4ef9a0f2babd76a";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  </script>
  <% } %>

</body>
</html>
