<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
  <title><%= title %></title>
  <link href="/stylesheets/drawingboard/works.css" rel="stylesheet">
  <script src="/javascripts/common/sendMassage.js" type="text/javascript"></script>
  <script type="text/javascript" src="/javascripts/common/ajax.js"></script>
</head>
<body>
  <div class="container">
    <% for (var index in works) { %>
    <% var work = works[index] %>
    <div class="item_container" index="<%= index %>" >
      <img onclick="clickItem(this)" src="<%= work.image %>" class="work_image"alt="" index="<%= index %>">
      <p><%= work.name ? work.name : '不认识' %></p>
      <div onclick="like(this)" class="likes_container" index="<%= index %>">
         <img src="http://7xpecj.com1.z0.glb.clouddn.com/2/like.png" alt="">
         <p><%= work.like %></p>
      </div>
    </div>
    <% } %>
  </div>
  <div id="bottom_container" class="bottom_container container_in_app">
    <button onclick='share()' id="bottom_share_button" class="bottom_button in_app">我要分享</button>
    <button onclick='makeNew()' id="bottom_makenew_button" class="bottom_button in_app">继续创作</button>
  </div>
  <script src="/javascripts/common/sendMassage.js" type="text/javascript"></script>
  <script type="text/javascript">
  localStorage.renyanLikes = localStorage.renyanLikes || JSON.stringify([]) 
  var dataString = '<%- JSON.stringify(works) %>'
  window.data = JSON.parse(dataString)
  function makeNew () {
    window.location.href = '/drawingboard/index'
  }
  function watchOthers() {
    window.location.href = '/drawingboard/works'
  }
  function clickItem(current) {
    var index = current.getAttribute("index")
    if (index < data.length) {
      var work = data[index]
      window.location.href = '/drawingboard/work/' + work.param
    }
  }
  function like(current) {
    var index = current.getAttribute("index")
    var likes = JSON.parse(localStorage.renyanLikes)
    if (index < data.length) {
      var work = data[index]
      if (likes.includes(work.param)) {
        return
      }
      Ajax('/drawingboard/like/' + work.param).get().done(function(result) {
        result = JSON.parse(result)
        if (result == 'success') {
          var icon = current.getElementsByTagName('img')[0]
          var text = current.getElementsByTagName('p')[0]
          icon.src = "http://7xpecj.com1.z0.glb.clouddn.com/2/like_highlight.png"
          text.textContent ++
          likes.push(work.param)
          localStorage.renyanLikes = JSON.stringify(likes)
        } else if (result == 'liked') {
          var icon = current.getElementsByTagName('img')[0]
          icon.src = "http://7xpecj.com1.z0.glb.clouddn.com/2/like_highlight.png"
          likes.push(work.param)
          localStorage.renyanLikes = JSON.stringify(likes)
        }
    })
    }
  }

  function initLikes () {
    var likes = JSON.parse(localStorage.renyanLikes)
    var likeContainers = document.getElementsByClassName('likes_container')
    for (var index in likeContainers)  {
      var likeContainer = likeContainers[index]
      if (likeContainer.getElementsByTagName) {
        var img = likeContainer.getElementsByTagName('img')[0]
        var current = likeContainer.getAttribute("index")
        if (index < data.length) {
          var work = data[index]
          if (likes.includes(work.param)) {
            img.src = 'http://7xpecj.com1.z0.glb.clouddn.com/2/like_highlight.png'
          }
        }
      }
    }
  }
  initLikes()
  
  configureShare({
    text: '<%- share.text %>',
    image: '<%- share.image %>',
    link: '<%- share.link %>',
    shareType: 4
  })

  if (!canRyShare()) {
    var makeNewButton = document.getElementById('bottom_makenew_button')
    var shareButton = document.getElementById('bottom_share_button')
    var bottomContainer = document.getElementById('bottom_container')
    shareButton.style.display = 'none'
    makeNewButton.className = 'bottom_button out_app'
    bottomContainer.className = 'bottom_container container_out_app'
  }
  </script>
  <% if (env == 'production') { %>
  <script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?05d2e87945786502ca1a962c610a43c0";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  </script>
  <% else { %>
  <script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?03cf39b7bf360a57d4ef9a0f2babd76a";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
  </script>
  <% } %>

</body>
</html>

